@import "./theme.css";

body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    margin: 0;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.root_layout {
    width: 100%;
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top-bar {
    width: 100vw;
    position: fixed;
    padding-top: var(--top-inset);
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--md-sys-color-surface);
}

.top-bar-content {
    font-size: 1.4em;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.title {
    flex-grow: 1;
    padding: 0 8px;
    box-sizing: border-box;
}

.top-bar-trailing-icon {
    display: flex;
    gap: 4px;
}

.content {
    width: 100%;
    max-width: 100%;
    flex: 1;
    margin-top: 64px;
    margin-bottom: 80px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.page {
    opacity: 0;
    transition: opacity 0.24s ease;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 0;
    overflow-y: auto;
    padding: 16px 0;
    box-sizing: border-box;
}

.page.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

#settings-page {
    padding-top: 0;
}

.content-padding {
    width: 100%;
    max-width: calc(100vw - 32px);
}

.card {
    width: 100%;
    border-radius: 20px;
    background-color: var(--md-sys-color-surface-container);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    word-wrap: break-word;
}

.home-card {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    position: relative;
}

.warning-card {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.home-card md-text-button {
    --md-sys-color-primary: var(--md-sys-color-on-primary);
}

.home-card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.home-card-title {
    font-weight: 500;
}

.home-card-subtitle {
    font-size: 0.8em;
}

.info-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    word-break: break-all;
    line-height: 1.5;
}

.info-card [slot="title"] {
    font-size: 1.05em;
}

.info [slot="detail"] {
    color: var(--md-sys-color-outline);
}

.card-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

md-outlined-text-field {
    --md-outlined-text-field-container-shape: 16px;
    width: 100%;
}

.trailing-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.output-terminal {
    width: 100%;
    font-size: 0.9em;
}

.list-item {
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 1.1em;
}

.bottom-bar {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: calc(80px + var(--bottom-inset));
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--md-sys-color-surface-container);
    padding-bottom: var(--bottom-inset);
    box-sizing: border-box;
    z-index: 10;
}

.bottom-bar-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    gap: 4px;
    position: relative;
    user-select: none;
}

.bottom-bar-item::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 50%;
    width: 56px;
    height: 32px;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 16px;
    z-index: 0;
    opacity: 0;
    transform: translateX(-50%) scaleX(0.5);
    transition: opacity 0.2s, transform 0.2s ease;
}

.bottom-bar-item[selected]::before {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
}

.bottom-bar-item[selected] {
    color: var(--md-sys-color-on-secondary-container);
}

.bottom-bar-item md-icon {
    position: relative;
    z-index: 1;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bar-item md-icon[slot="selected"] {
    display: none;
}

.bottom-bar-item[selected] md-icon:not([slot="selected"]) {
    display: none;
}

.bottom-bar-item[selected] md-icon[slot="selected"] {
    display: flex;
}

.bottom-bar-item-text {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--md-sys-color-on-surface);
}

.dialog-wrapper {
    z-index: 5;
    position: relative;
}

.text-field-dialog {
    margin-top: 20%;
}

[slot="headline"] {
    user-select: none;
}

[unresolved] {
    opacity: 0;
    overflow: hidden;
}

[hidden] {
    display: none;
}